---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

let formattedDate = new Date(frontmatter.pubDate).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'short',
  day: '2-digit'
});
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>{formattedDate}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="500" alt={frontmatter.image.alt} />
    <div class="flex-wrap-container">
        {frontmatter.tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <slot />
</BaseLayout>